
<div class="container">
  <div class="row">
    <div class="span6">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <h1 class="float-right"><%= @user.screen_name %></h1>
          <img class="avatar float-left" src="<%= @user.profile_image_url %>" alt="">
        </div>
      </div>
      <h6 style="text-align:center"><%= @user.description %></h6>
    </div>
    <div class="span6">
      <table class="table">
        <thead>
          <tr>
            <th style="text-align: center">Tweets</th>
            <th style="text-align: center">Following</th>
            <th style="text-align: center">Followers</th>
            <th style="text-align: center">Favorites</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="text-align: center"><%= @user.statuses_count %></td>
            <td style="text-align: center"><%= @user.friends_count %></td>
            <td style="text-align: center"><%= @user.followers_count %></td>
            <td style="text-align: center"><%= @user.favorites_count %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row"><div class="spacer20"></div><div class="spacer20"></div></div>
  <div class="row">
    <div class="search">
      <%= form_tag(search_path) do  %>
        <div class="search-bar"><%= text_field_tag :search_for, @search_for, :placeholder => 'Enter a name', :size => 100, class: "search-field form-group" %></div>
        <div class="button"><%= submit_tag "Search Twitter", class: "btn btn-primary form-group" %></div>
        <div class="clear-float"></div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <h3 class="page-title"><%= "Search Results(#{@result_count}) for \'#{@search_for}\'" %><br/><p style="font-size: 12px"><%= "#{@location['city']}, #{@location['region']} (#{@location['latitude'].round(5)}, #{@location['longitude'].round(5)})"%></p></h3>
    <div class="col-xs-3 col-md-2 filter-bar">
      <%= render 'layouts/filter_column' %>
    </div>
    <div class="col-sm-9 col-md-10">
      
      
     <div id="all_tweets" >
        <%= render 'layouts/tweet_list', :tweets => @tweets %>
      </div>
    </div>
  </div>
</div>
<%= render "layouts/modal" %>
<%= render "layouts/list_modal" %>
<%= render "layouts/lists_display_modal" %>

