
<div class="container">
  <div class="row">
    <div class="span6">
      <h1><%= @user.screen_name %></h1>
      <h6 style="text-align:center"><%= @user.description %></h6>
    </div>
    <div class="span6">
      <table class="table">
        <thead>
          <tr>
            <th>Tweets</th>
            <th>Following</th>
            <th>Followers</th>
            <th>Favorites</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @user.statuses_count %></td>
            <td><%= @user.friends_count %></td>
            <td><%= @user.followers_count %></td>
            <td><%= @user.favorites_count %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <%= @location['latitude'] %>
    <%= @location['longitude'] %>
    <%= @location['city'] %>
    <%= @location['region'] %>
    <div class="search">
      <div class="search-bar"><%= text_field_tag :search, @search_for, :placeholder => 'Enter a name', :size => 100, class: "search-field form-group" %></div>
      <div class="button"><%= submit_tag "Search Twitter", :name => nil, class: "btn btn-primary form-group" %></div>
      <div class="clear-float"></div>
    </div>
  </div>
  <div class="row">
     <div class="spacer20"></div>
    <h3 class="page-title"><%= "Search Results for \'#{@search_for}\'" %><br/><p style="font-size: 12px"><%= "#{@location['city']}, #{@location['region']} (#{@location['latitude']}, #{@location['longitude']})"%></p></h3>
    <div class="col-xs-3 col-md-2 filter-bar">
      <%= render 'layouts/filter_column' %>
    </div>
    <div class="col-sm-9 col-md-10">
      
      
     <div id="all_tweets" >
        <%= render 'layouts/tweet_list', :tweets => @tweets %>
      </div>
    </div>
  </div>
</div>
<%= render "layouts/modal" %>
<%= render "layouts/list_modal" %>

