<div class="spacer20"></div>
Filters
<div class="spacer20"></div>

<div class="refine-label">Author Lists</div>
  <% session['lists'].each do |key,value| %>
    <% if key != 'new list' %>
      <%= link_to({:filter_by_list => key}) do %>
        <div class="item"><%= key %></div> 
      <% end %>
    <% end %>
  <% end %>

<div class="refine-label">Result Type</div>
  <%= link_to({:filter_by_type => 'recent'}) do %>
  <div class="item">Recent</div> <% end %>
  <%= link_to({:filter_by_type => 'popular'}) do %>
  <div class="item">Popular</div> <% end %>
  <%= link_to({:filter_by_type => 'mixed'}) do %>
  <div class="item">Mixed</div> <% end %>
  
<div class="refine-label">Radius</div>
  <%= link_to({:filter_by_radius => '20'}) do %>
  <div class="item">20 miles</div> <% end %>
  <%= link_to({:filter_by_radius => '100'}) do %>
  <div class="item">100 miles</div> <% end %>
  <%= link_to({:filter_by_radius => '1000'}) do %>
  <div class="item">1000 miles</div> <% end %>

