<div class="spacer20"></div>
<div class="spacer20"></div>
<div class="refine-label">Search By</div>
  <%= link_to({:filter => 'All'}) do %>
  <div class="item">Recent</div> <% end %>
  <%= link_to({:filter => 'All'}) do %>
  <div class="item">Popular</div> <% end %>
  <%= link_to({:filter => 'All'}) do %>
  <div class="item">Mixed</div> <% end %>
<div class="refine-label">Radius</div>
  <%= link_to({:filter => 'All'}) do %>
  <div class="item">5 miles</div> <% end %>
  <%= link_to({:filter => 'All'}) do %>
  <div class="item">20 miles</div> <% end %>
  <%= link_to({:filter => 'All'}) do %>
  <div class="item">50 miles</div> <% end %>
