<div class="spacer20"></div>
<div class="spacer20"></div>

<div class="refine-label" style="font-size: 2em; margin: 0px 0px 0px -10px">Lists</div>
<div class="btn btn-primary create_tweet" id="create" style="margin: 0px 0px 0px -10px">View Lists Details</div>
<div class="refine-label">Author Lists</div>
  <% session['lists'].each do |key,value| %>
    <% if key != 'new list' %>
        <div class="item"><%= key %></div> 
    <% end %>
  <% end %>


<div class="spacer20"></div>
<div class="refine-label" style="font-size: 2em; margin: 0px 0px 0px -10px">Filters</div>
<div class="refine-label">Result Type</div>
  <%= link_to({:filter_by_type => 'recent', :search_for => @search_for}) do %>
  <div class="item">Recent</div> <% end %>
  <%= link_to({:filter_by_type => 'popular', :search_for => @search_for}) do %>
  <div class="item">Popular</div> <% end %>
  <%= link_to({:filter_by_type => 'mixed', :search_for => @search_for}) do %>
  <div class="item">Mixed</div> <% end %>
  
<div class="refine-label">Radius</div>
  <%= link_to({:filter_by_radius => '20', :search_for => @search_for}) do %>
  <div class="item">20 miles</div> <% end %>
  <%= link_to({:filter_by_radius => '100', :search_for => @search_for}) do %>
  <div class="item">100 miles</div> <% end %>
  <%= link_to({:filter_by_radius => '1000', :search_for => @search_for}) do %>
  <div class="item">1000 miles</div> <% end %>

<script>
   // Display Lists modal actions
   $(document).ready(function(){
     $("#lists-display-toggle").hide();
  });
  
  $(document).ready(function(){
    $("#create").click(function(event){
      console.log('here');
      $("#lists-display-toggle").fadeToggle();
      $("#container").fadeTo( "fast", 0.5 );
      return false;
    });
    $("#hide-lists-popup").click(function(){
      $("#lists-display-toggle").fadeToggle();
      $("#container").fadeTo( "fast", 1 );
      return false;
    });
  });
</script>
