<script>
  
  // Reply to tweet modal actions
  $(document).ready(function(){
    $("#pop-up-toggle").hide();
  });
  
  $(document).ready(function(){
    $(".modal-popup").click(function(event){
      $("#reply_to_tweet_id").val(event.target.id.split(" ")[0]);
      $("#reply_to_tweet_user").val(event.target.id.split(" ")[1]);
      $("#pop-up-toggle").fadeToggle();
      $("#container").fadeTo( "fast", 0.5 );
      return false;
    });
    $("#hide-popup").click(function(){
      $("#pop-up-toggle").fadeToggle();
      $("#container").fadeTo( "fast", 1 );
      return false;
    });
  });
  
  // Add to list modal actions
   $(document).ready(function(){
//    $("#list-up-toggle").hide();
  });
  
  $(document).ready(function(){
    $(".add-list-item").click(function(event){
      $("#add_to_list_author").val(event.target.id);
      console.log("yo");
      $("#list-up-toggle").fadeToggle();
      $("#container").fadeTo( "fast", 0.5 );
      return false;
    });
    $("#hide-list-popup").click(function(){
      $("#list-up-toggle").fadeToggle();
      $("#container").fadeTo( "fast", 1 );
      return false;
    });
  });
</script>
<ol class="tweet-list">
  <% tweets.each do |tweet| %>
    <li>
      <div class="tweet-info">
        <%= tweet.text %>
        <%= link_to "view on twitter", "#"  %>
        <p class="timestamp">
          updated
            <% time = time_ago_in_words(tweet.created_at) %>
            <% if time.index(',') != nil %>
              <%= time[0..time.index(',')-1] %> ago
            <% elsif time.index(" ") != nil && time.index("less") == nil %>
              <% first_space = time.index(" ") %>
                <% if time.index(' ', first_space+1) != nil %>
                  <%= time[0..time.index(' ', first_space)] %> ago
                <% else %>
                  <%= time %> ago
                <% end %>
            <% else %>
              <%= time %> ago
            <% end %>
        </p>
      </div>
      <div class="div-align-right">
        <div class="float-right">
          <div class="btn btn-default modal-popup" id="<%= "#{tweet.id} #{tweet.user.screen_name}"%>">Reply</div>
        </div>
        <div class="float-right margin-right">
          <%= button_to "Retweet", retweet_path(:tweet_id => tweet.id), class: 'btn btn-danger' %>
        </div>
        <div class="float-right margin-right">
          <div class="btn btn-default add-list-item" id="<%= "#{tweet.user.screen_name}"%>">Add to List</div>
        </div>
      </div>
      <div class="clear-float"></div>
    </li>
  <% end %>

</ol>
  <%= will_paginate tweets %>