<ol class="tweet-list">
  <% tweets.each do |tweet| %>
    <li>
      <div class="tweet-info">
        <%= tweet.text %>
        <%= link_to "view on twitter", "#"  %>
        <p class="timestamp">
          updated
            <% time = time_ago_in_words(tweet.created_at) %>
            <% if time.index(',') != nil %>
              <%= time[0..time.index(',')-1] %> ago
            <% elsif time.index(" ") != nil && time.index("less") == nil %>
              <% first_space = time.index(" ") %>
                <% if time.index(' ', first_space+1) != nil %>
                  <%= time[0..time.index(' ', first_space)] %> ago
                <% else %>
                  <%= time %> ago
                <% end %>
            <% else %>
              <%= time %> ago
            <% end %>
        </p>
      </div>
      <div class="div-align-right">
        <div class="float-right">
          <a href="#" id="create-popup">
            <div class="btn btn-default">Reply</div>
          </a>
        </div>
        <div class="float-right margin-right">
          <%= button_to "Retweet", retweet_path(:tweet_id => tweet.id), class: 'btn btn-danger' %>
        </div>
        <div class="float-right margin-right">
              <%= button_to "Claim", { action: "show" }, class: 'btn btn-default' %>
        </div>
      </div>
      <div class="clear-float"></div>
    </li>
  <% end %>

</ol>
  <%= will_paginate tweets %>